rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Allow read/write to nothing by default
    function isSignedIn() {
      return request.auth != null;
    }

    // user, subject to change or add
    // read write
    match /users/{userId} {
      allow read, update, delete: if isSignedIn() && request.auth.uid == userId;
      allow create: if isSignedIn();
    }

    // Listings
    // only auth user can update/delete; signed in users can read/ view
    match /listings/{listingId} {
      allow read: if isSignedIn();

      allow create: if isSignedIn();

      allow update, delete: if isSignedIn()
        && request.auth.uid == resource.data.ownerId;
    }

    //Reminder for rules for
    //Communities, Tradspaces, Forums, other user data, Comments, etc

    // default
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
